.custom-main {
	min-height: 300px;
	margin: 20px !important;
}

@media (max-width: 600px) {
	.custom-main {
		margin: 0 !important;
	}
}

body {
	font-family: Sohne, Menlo, Monaco, Consolas, Liberation Mono, Courier New,
		monospace;
}
